*{
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif; 
	box-sizing: border-box;
	
}
:root{
	--clr: #ffffff;
	--clrO: #d35555;
	--clrB: rgb(0, 0, 0);
	--clrA: #189521;
}
body, html{
	justify-content: center;
	align-items: center;
	background: #0f797b; /*url("Modal Calendar/blackliquid.gif");*/
	backrgound-size: original;
	min-height: 30vh;
	height: 100%;
}
.logo{
	position: absolute;
	height: 5em;
	width: 4em;
	top: 5px;
  left: 20px;
	opacity: 0;
	cursor: pointer;
	border-radius: 1rem;

}

.logo:hover{
	position: absolute;
	height: 5em;
	top: 5px;
  left: 20px;
	opacity: 0;
	cursor: pointer;

}


.kadima{
	position: absolute;
	opacity: 1;
	height: 10rem;
	top: -2rem;
}


.outline-head{
	display: block;
	background: none;
	height: 5rem;
	align-items: center;
}

.navigation{
	position: absolute;
  border: none;
	top: 2vh;
  right: 2vw;
	width: 40vw;
	height: 70px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	z-index: 3;
}
.navigation ul{
	display: flex;
	width: 40vw;
}

.navigation ul li{
	display: flex;
	list-style: none;
	float: right;
	width: 10vw;
	height: 70px;
	z-index: 1;
}
.navigation ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: bolder;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	line-height: 25px;
	font-size: 1em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.navigation ul li:hover a .icon{
	transform: translateY(-15px);
	color: var(--clrA);
	cursor: pointer;
}
.navigation ul li a .text{
	position: absolute;
	color: var(--clr);
	font-weight: 40;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(0px);
}

.navigation ul li:hover a .text{
	position: absolute;
	color: white;
	font-weight: 40;
	font-size: 1em;
	letter-spacing: 0.05em;
	opacity: 1;
	transform: translateY(20px);
}

.navigation ul li:active a .text{
	color: var(--clr);
	transition: 0.4s;
}


.navigation ul li a .indicator{
	opacity: 0;
	content: '';
	position: absolute;
	top: 10%;
	width: 20px;
	height: 20px;
	background: var(--clr);
	border-top-left-radius: 20px;
	box-shadow: 0px -10px 0 0 var(--clrB);
	transition: 0.5s;
}


.navigation ul li:hover a .indicator{
	opacity: 1;
	position: absolute;
	width: 70px;
	height: 70px;
	background: #cccccc;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transform: translateY(-20px);
}


.navigation ul li a .dropdown{
	opacity: 0;
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
	top: 80px;
	float: none;
	position: absolute;
	transition: 1.5s;
	width: 100px;
	height: 250px;
	z-index: 4;
	padding: 6px;
	
	background: none;
	align-items: center;
	
}

.navigation ul li a .dropdown div{
	border-radius: 40%;
	padding: 2px;
	border: 1px solid white;
	opacity: 1;
	background-color: var(--clrA);
	transition: 0.5s;
}

.navigation ul li a .dropdown input{
	position: bottom;
	bottom: 5px;
	width: 30px;
	height: 30px;
	border-radius: 20%;

}

.navigation ul li a .dropdown p{
	display: block;
	color: white;
	font-size: 10px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}

.navigation ul li a .dropdown button{
	border: 1px solid white;
	color: white;
	background-color: var(--clrB);/* change color back to var(--clrB)*/
	font-family: "Inter", sans-serif;
	width: 30px;
	height: 20px;
	font-size: 7px;
	border-radius: 20%;
	
}

.navigation ul li a .skipdown{
	opacity: 0;
	display: flex;
	justify-content: space-between;
	top: 4rem;
	position: absolute;
	transition: 1.5s;
	width: 7rem;
	height: 3rem;
	z-index: 4;
	padding: 6px;
	background: none;
	align-items: center;
	
}

.navigation ul li a .skipdown p{
	display: block;
	margin: auto 0;
	color: white;
	font-size: 2rem;
	text-shadow: 1rem 1rem 1rem black;
	font-weight: bolder;
	font-family: "Inter", sans-serif;
}

.navigation ul li a .skipdown div{
	border: none;
	opacity: 1;
	background-color: none; /*var(--clrA)*/
	transition: 0.5s;
	
}

.navigation ul li a .skipdown button{
	border: 1px solid white;
	color: white;
	background-color: var(--clrB);/* change color back to var(--clrB)*/
	font-family: "Inter", sans-serif;
	width: 2rem;
	height: 2rem;
	font-size: 1rem;
	border-radius: 100%;
	box-shadow: 1rem 1rem 1rem black;
}


.container{
	height: 70vh;
	width: 100%;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#section1 .one-sub1{
	background-color: rgba(0, 0, 0, 0.9);
	width: 70%;
}

#section1 .one-sub2{
	background-color: rgba(255, 255, 255, 0.4);
	width: 30%;
}

#section1 div h1{
	width: 40%;
	height: 20%;
	margin-top: 20%;
	margin-left: 30%;
	color: white;
	font-size: 2em;
	font-weight: bolder;
}

#section1 div h3{
	color: white;
	width: 80%;
	margin-left: 20%;
}

#section1 .one-sub2 img{
	margin-top: 50%;
	margin-left: -30%;
	width: 60%;
	height: 40%;
}

#section2{
	height: 90vh;
	background-color: rgb(255,255,255,0.8);
}
